h1:hover {color: skyblue;} 
span:hover {border-style:ridge}
span {color: red}
#p1 {font-family: Arial;
    font-size: 12pt;
    color: springgreen}
div {
        background-color: red;
    }
.container-fluid {
        background-color: rosybrown;
    }

.yellow {
        background-color: blue;
    }

table:hover{
    background-color: crimson;
}

#dark{
    background-color: black;
}
td{
    width: 50%;
}
