/* You can add global styles to this file, and also import other style files */

body {
    background-color: honeydew;
    overflow-wrap: break-word;
}

main {
    padding-top: 80px;
    padding-bottom: 60px;
}
