<main class="container">
  <div class="jumbotron">
    <h1 class="display-4">Cars Web</h1>
    <p class="lead">
      This is a web application to manage various car models. 
      You can add new models or remove those that are no longer valid. 
      View the data of each model and edit them if necessary.
    </p>
    <hr class="my-4">
    <p>Start using the app by clicking the store button below or in the navbar above.</p>
    <a routerLink="/store" class="btn btn-primary btn-lg" role="button">Store</a>
  </div>
</main>