<main class="container-fluid">
  <div class="row">
    <div class="col-2"></div>
    <div class="col-8">
      <h3 class="text-info text-center">Insert Model</h3>
      <hr class="my-3 mx-5">
      <form [formGroup]="modelFG" (ngSubmit)="onSubmit(content)">
        <div class="form-row">
          <div class="form-group col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
            <label for="nome">Nome:</label>
            <input type="text" formControlName="nome" id="nome" [ngClass]="{
                    'form-control mb-1': true,
                    'input-err': nomeCtrl
                   }" placeholder="nome" required autofocus (input)="check('nome')" (blur)="check('nome')">
            <small class="text-danger" [ngStyle]="{ 'visibility': nomeCtrl ? 'visible' : 'hidden' }">Enter the model
              name</small>
          </div>
        </div>
        <div class="form-row">
          <div class="form-group col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6">
            <label for="cilindrata">Cilindrata:</label>
            <input type="text" formControlName="cilindrata" id="cilindrata" [ngClass]="{
                    'form-control mb-1': true,
                    'input-err': cilindrataCtrl
                   }" placeholder="cilindrata" required (input)="check('cilindrata')" (blur)="check('cilindrata')">
            <small class="text-danger" [ngStyle]="{ 'visibility': cilindrataCtrl ? 'visible' : 'hidden' }">Enter the
              cilindrata with 4 digits</small>
          </div>
          <div class="form-group col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6">
            <label for="potenza">Potenza:</label>
            <input type="text" formControlName="potenza" id="potenza" [ngClass]="{
                     'form-control mb-1': true,
                     'input-err': potenzaCtrl
                   }" placeholder="potenza" required (input)="check('potenza')" (blur)="check('potenza')">
            <small class="text-danger" [ngStyle]="{ 'visibility': potenzaCtrl ? 'visible' : 'hidden' }">Enter the
                potenza with 3 digits</small>
          </div>



          <div class="form-group col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">

            <form [formGroup]="marcaForm" id="marca" placeholder="marca" required></form>
              <label for="marca">Marca:</label>
              <select formControlName="marca" id="marca" [ngClass]="{
                     'form-control mb-1': true,
                     'input-err': marcaCtrl
                   }" placeholder="marca" required (input)="check('marca')" (blur)="check('marca')">
                <option [value]="brand" *ngFor="let brand of brands"> {{brand}}</option>
              </select>
              <small class="text-danger" [ngStyle]="{ 'visibility': marcaCtrl ? 'visible' : 'hidden' }">Enter a valid
                brand</small>
            </form>
          </div>
          
        </div>
        <div class="form-row">
          <div class="form-group col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
            <input type="reset" class="btn btn-secondary btn-size m-1" value="Reset">
            <input type="submit" class="btn btn-primary btn-size m-1" value="Send" [disabled]="!marcaFG.valid">
          </div>
        </div>
      </form>
    </div>
    <div class="col-2"></div>
  </div>

  <!-- modal -->
  <ng-template #content let-modal>
    <div class="modal-header">
      <h4 class="modal-title text-info" id="modal-basic-title">Info</h4>
    </div>
    <div class="modal-body">
      <h5 [ngClass]="{ 'text-secondary': !messaggioCtrl, 'text-danger': messaggioCtrl }" [innerHTML]="messaggio"></h5>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-info" (click)="modal.close()">Ok</button>
    </div>
  </ng-template>
</main>